<div class="page-header">
  <h1>Select Any Option 
  	<% unless params[:controller] == "attachments"%>
  		<small><a href="" onclick="window.location.href = '<%= new_attachment_path %>';" class="btn btn-primary btn-lg">Page 1</a></small>
  	<% end %>
  	<% unless params[:controller] == "home" && params[:action] == "plays" %>
		<small><a href="" onclick="window.location.href = '<%= plays_path %>';" class="btn btn-primary btn-lg">Page 2</a></small>
	<% end %>
	<% unless params[:controller] == "home" && params[:action] == "index" %>
		<small><a href="" onclick="window.location.href = '/';" class="btn btn-primary btn-lg">Home</a></small>
	<% end %>
  </h1>
</div>