
<div class="col-md-2">
  <h1><span id="timer"></span></h1>
  <%= button_tag "Log Time", type: 'button',class: 'btn btn-default',id: "SaveTimer"%>
</div>

<div class="col-md-10">
  <img id="image" style="width: 25%;"/>
</div>


<div style="clear:both"></div>
<div class="panel panel-default" style="margin-top: 20px;">
  <div class="panel-heading">Play Records</div>
  <table id="plays_data" class="table">
    <%= render partial: "plays_list" %>
  </table>
</div>




